<header>
    <nav>
        <ul>
            
            <li><a  href="{% url 'index' %}">Home</a></li>
            <li><a href="{% url 'blogs' %}">Blogs</a></li>
            
            
            
            {% if request.user.is_authenticated%}
            
            <li><a href="{% url 'profile' request.user.id%}">Profile</a></li>
            <li><a href="{% url 'create-blog' %}">Create</a></li>
            <li><a href="{% url 'logout' %}">Logout</a></li>
            {% else %}
            <li><a href="{% url 'login' %}">Login</a></li>
            {% endif %}
                
        </ul>
    </nav>
</header>